@import '../../../assets/scss/variables.scss';

.app {
  color: $black-font;

  .appContent {
    min-height: calc(100vh - 110px - 86px);
    max-width: 1200px;
    margin: 0px auto;
    display: flex;

    .leftContent {
      flex: 1;
    }

    .rightContent {
      width: 375px;
      padding: 20px;

      .adContent1 {
        height: 600px;
        margin-bottom: 20px;
      }

      .adContent2 {
        height: 300px;
      }

      img {
        height: 100%;
        max-width: 100%;
        border-radius: 10px;
      }
    }

  }

}
