@import '../../../assets/scss/variables.scss';

.app {
  color: $black-font;

  .mainTitle{
    max-width: 1200px;
    font-size: 36px;
    margin: 60px auto;
    @include tablet{
      padding: 0px 5vw;
    }
    @include mobile{
      padding: 0px 5vw;
    }
  }

  .appContent {
    min-height: calc(100vh - 110px - 86px);
    max-width: 1200px;
    margin: 0px auto;
    display: flex;

    .leftContent {
      flex: 1;
      @include tablet{
        padding: 0px 5vw;
      }
      @include mobile{
        padding: 0px 5vw;
      }
    }

    .rightContent {
      width: 375px;
      padding: 0px 20px 20px;
      @include tablet{
        display: none;
      }
      @include mobile{
        display: none;
      }

      .adContent1 {
        height: 500px;
        margin-bottom: 20px;
      }

      .adContent2 {
        height: 300px;
      }

      img {
        height: 100%;
        max-width: 100%;
        border-radius: 10px;
      }
    }

  }

}
