@import '../../../assets/scss/variables.scss';

.header{
  padding: 20px 40px;
  @include appHorizontalPadding;
  border-bottom: 1px solid #828282;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: $primary-color;
  .logo{
    margin-right: 20px;
    height: 40px;
  }
  .title{
    color: $secondary-color;
    font-size: 18px;
  }
}
